body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}
h1 {
  margin: 0;
}

#root {
  text-align: center;
}

.orange-header {
  height: 3em;
  background: #fc5100;
  display: flex;
  flex-direction: row;
}

.orange-header h1 {
  color: white;
  font-weight: 1000;
  font-stretch: condensed;
  margin: auto;
  font-family: "Kanit", sans-serif;
}

img#bike-svg {
  height: inherit;
  filter: invert(1);
  margin: auto;
}

/*///////////////// chart ///////////////////*/

#chart {
  display: block;
}

.chartjs-render-monitor {
  align-items: center;
}

/*///////////////// map ///////////////////*/

#mapid {
  height: 180px;
  width: 180px;
}

.map-container {
  margin: auto;
  text-align: -webkit-center;
}

/*///////////////// card ///////////////////*/

.activity-card {
  border: solid 1px whitesmoke;
  background: whitesmoke;
  opacity: 0.8;
  height: 50%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.activity-body {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: left;
}
.activity-body p {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: flex-start;
}
.activity-header p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: small;
}

.activity-header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

#activity-name h4 {
  padding-left: 3em;
}

.activity-footer {
  
}
